.not_found {
    resize: vertical;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    background-image: url('notFound.jpg');
}

body p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: black;
    text-align: center;
}


